h1 {
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  margin: 5px;
}
div.currentWeather {
  margin: 0;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  min-width: 320px;
  max-width: 420px;
  justify-content: center;
  border: solid thin #333;
  background-color: #c4e7ff;

  & p {
    text-align: center;
    margin: 5px;

    &.description {
      font-weight: 500;
      font-size: 1.1rem;
    }
  }
}

.currentDate {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0;
}

.coords {
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
  text-align: center;
}

.topInfo {
  min-height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & img {
    width: 35px;
  }

  & button {
    border: solid thin #333;
    padding: 4px;
    display: flex;
  }
}

.topInfo * {
  margin: 0;
  padding: 0;
}

img.refresh  {
  width: 20px;
  cursor: pointer;
}

.tempDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.wind {
  display: flex;
  align-items: center;
}

div.wind img {
  margin-right: 10px;
  width: 22px;
}

.sunrise {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p.gust {
  font-size: 0.9rem;
}

.tempDetails p span.feelsLike {
  font-size: 0.4rem;
}
