section.daily {
    margin-top: 20px;
    width: 1122px;
    max-width: 97vw;
    text-align: center;
    box-sizing: border-box;
}

.daily h1 {
    font-weight: normal;
    margin-bottom: 15px;
    outline: solid thin #333;
    background-color: #c4e7ff;
    display: inline-block;
    padding: 5px;
    font-size: 1rem;
}

div.dayBar {
    margin: 0;
    display: flex;
    justify-content: space-between;
    border: solid thin #333;
    overflow-x: scroll;
}

.day {
    background-color: #c4e7ff;
    outline: solid thin #333;
    padding: 5px;
    font-size: 0.9rem;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    min-width: 140px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;

    & p.openHiddenDay {
        position: absolute;
        font-size: 1.6rem;
        color: #345;
        right: 10px;
        top: 20px;
    }
}

.day p {
    margin: 0;

    font-size: 0.95rem;
}

.day img {
    width: 50px;
    margin: 0;
}

section.daily div.wind {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 8px;
    width: 80%;
}

div.wind p {
    font-size: 1.1rem;
    margin: 0;
}

div.wind img {
    margin-right: 10px;
    width: 22px;
}

.dailyTemp {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
}

.dailyTemp img {
    width: 20px;
    height: 20px;
}

.dailyTemp p {
    font-size: 1rem;
}

.hidden {
    display: none;
    width: fit-content;
    /* min-width: fit-content; */
    overflow: auto;
}

.hidden p {
    margin: 14px 8px;
    font-size: 0.9rem;
}

.day-selected,
.hidden {
    background-color: #b7fffb;
}

.show-hidden-day {
    display: block;
}

.dayDiv {
    display: flex;
    min-width: fit-content;
}
